In [1]:
# Ignore warnings
import sys
import warnings
if not sys.warnoptions:
    warnings.simplefilter('ignore')

#Process data    
import numpy as np
import xarray as xr

#Display data 
import cartopy
import cartopy.crs as ccrs
from cartopy.mpl.geoaxes import GeoAxes
from cartopy.vector_transform import vector_scalar_to_grid
from matplotlib.axes import Axes
import cartopy.feature as cfeature
from cartopy import config
from cartopy.mpl.ticker import LongitudeFormatter, LatitudeFormatter
from mpl_toolkits.axes_grid1 import AxesGrid
import matplotlib.image as image
import matplotlib.pyplot as plt

#Writing data files
import pandas as pd

Warning: ecCodes 2.21.0 or higher is recommended. You are running version 2.12.0

In [2]:
#this file is in the data folder in the github repository
average_all=np.load('../../../average_all.npy') #reference observed combined production

In [3]:
average_all.shape

(60, 60)

In [4]:
# this file is in the data folder in the github repository
fig9data=np.load('../../../SSP126_SSP585_Productionchange_2050s2080s_relative_to1995-2014_20Years.npy')

In [5]:
fig9data.shape

(4, 60, 60)

In [6]:
np.nanmin(fig9data)

-480391.37361633644

In [7]:
# these files are in the data folder in the github repository
X=np.load('rainfed_maize_production_Xgrid.npy')
Y=np.load('rainfed_maize_production_Ygrid.npy')

In [8]:
# these files are in the data folder in the github repository
pnt_IA=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_IA.csv')
pnt_MN=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_MN.csv')
pnt_WI=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_WI.csv')
pnt_IL=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_IL.csv')
pnt_MI=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_MI.csv')
pnt_IN=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_IN.csv')
pnt_OH=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_OH.csv')
pnt_NY=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_NY.csv')
pnt_PA=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_PA.csv')
pnt_MD=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_MD.csv')
pnt_ON=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_ON.csv')
pnt_QC=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_QC.csv')

In [9]:
pnt_IA

    Unnamed: 0    lon    lat                coords
0         2587 -96.25  43.25  POINT (-96.25 43.25)
1         2588 -95.75  43.25  POINT (-95.75 43.25)
2         2589 -95.25  43.25  POINT (-95.25 43.25)
3         2590 -94.75  43.25  POINT (-94.75 43.25)
4         2591 -94.25  43.25  POINT (-94.25 43.25)
..         ...    ...    ...                   ...
60        2893 -93.25  40.75  POINT (-93.25 40.75)
61        2894 -92.75  40.75  POINT (-92.75 40.75)
62        2895 -92.25  40.75  POINT (-92.25 40.75)
63        2896 -91.75  40.75  POINT (-91.75 40.75)
64        2897 -91.25  40.75  POINT (-91.25 40.75)

[65 rows x 4 columns]

In [10]:
data=average_all.flatten()

np.around(np.nansum(data),0)

265739874.0

In [11]:
np.nanmin(data)

0.0

In [12]:
df = pd.DataFrame(columns=['Province/State', 'Exposure', 'R5', 'R6', 'R7', 'R8'])
thecolumns=['Province/State', 'Exposure', 'R5', 'R6', 'R7', 'R8']

In [13]:
#Ontario
ptlist=list(pnt_ON['Unnamed: 0'])
thedata=average_all.flatten()[ptlist]
ep=np.around(np.nansum(thedata),0)


thedata=fig9data[0,:,:].flatten()[ptlist]
r5=np.around(np.nansum(thedata),0)
thedata=fig9data[1,:,:].flatten()[ptlist]
r6=np.around(np.nansum(thedata),0)
thedata=fig9data[2,:,:].flatten()[ptlist]
r7=np.around(np.nansum(thedata),0)
thedata=fig9data[3,:,:].flatten()[ptlist]
r8=np.around(np.nansum(thedata),0)
df = pd.concat([df, pd.DataFrame([['Ontario (ON)',ep,r5,r6,r7,r8]], columns=thecolumns)], ignore_index=True)

In [14]:
#Quebec
ptlist=list(pnt_QC['Unnamed: 0'])
thedata=average_all.flatten()[ptlist]
ep=np.around(np.nansum(thedata),0)

thedata=fig9data[0,:,:].flatten()[ptlist]
r5=np.around(np.nansum(thedata),0)
thedata=fig9data[1,:,:].flatten()[ptlist]
r6=np.around(np.nansum(thedata),0)
thedata=fig9data[2,:,:].flatten()[ptlist]
r7=np.around(np.nansum(thedata),0)
thedata=fig9data[3,:,:].flatten()[ptlist]
r8=np.around(np.nansum(thedata),0)
df = pd.concat([df, pd.DataFrame([['Quebec (QC)',ep,r5,r6,r7,r8]], columns=thecolumns)], ignore_index=True)

In [15]:
#Iowa (IA)
ptlist=list(pnt_IA['Unnamed: 0'])
thedata=average_all.flatten()[ptlist]
ep=np.around(np.nansum(thedata),0)


thedata=fig9data[0,:,:].flatten()[ptlist]
r5=np.around(np.nansum(thedata),0)
thedata=fig9data[1,:,:].flatten()[ptlist]
r6=np.around(np.nansum(thedata),0)
thedata=fig9data[2,:,:].flatten()[ptlist]
r7=np.around(np.nansum(thedata),0)
thedata=fig9data[3,:,:].flatten()[ptlist]
r8=np.around(np.nansum(thedata),0)
df = pd.concat([df, pd.DataFrame([['Iowa (IA)',ep,r5,r6,r7,r8]], columns=thecolumns)], ignore_index=True)

In [16]:
#Minnesota(MN)
ptlist=list(pnt_MN['Unnamed: 0'])
thedata=average_all.flatten()[ptlist]
ep=np.around(np.nansum(thedata),0)


thedata=fig9data[0,:,:].flatten()[ptlist]
r5=np.around(np.nansum(thedata),0)
thedata=fig9data[1,:,:].flatten()[ptlist]
r6=np.around(np.nansum(thedata),0)
thedata=fig9data[2,:,:].flatten()[ptlist]
r7=np.around(np.nansum(thedata),0)
thedata=fig9data[3,:,:].flatten()[ptlist]
r8=np.around(np.nansum(thedata),0)
df = pd.concat([df, pd.DataFrame([['Minnesota(MN)',ep,r5,r6,r7,r8]], columns=thecolumns)], ignore_index=True)

In [17]:
#Wisconsin(WI)
ptlist=list(pnt_WI['Unnamed: 0'])
thedata=average_all.flatten()[ptlist]
ep=np.around(np.nansum(thedata),0)


thedata=fig9data[0,:,:].flatten()[ptlist]
r5=np.around(np.nansum(thedata),0)
thedata=fig9data[1,:,:].flatten()[ptlist]
r6=np.around(np.nansum(thedata),0)
thedata=fig9data[2,:,:].flatten()[ptlist]
r7=np.around(np.nansum(thedata),0)
thedata=fig9data[3,:,:].flatten()[ptlist]
r8=np.around(np.nansum(thedata),0)
df = pd.concat([df, pd.DataFrame([['Wisconsin(WI)',ep,r5,r6,r7,r8]], columns=thecolumns)], ignore_index=True)

In [18]:
#Illinois(IL)
ptlist=list(pnt_IL['Unnamed: 0'])
thedata=average_all.flatten()[ptlist]
ep=np.around(np.nansum(thedata),0)


thedata=fig9data[0,:,:].flatten()[ptlist]
r5=np.around(np.nansum(thedata),0)
thedata=fig9data[1,:,:].flatten()[ptlist]
r6=np.around(np.nansum(thedata),0)
thedata=fig9data[2,:,:].flatten()[ptlist]
r7=np.around(np.nansum(thedata),0)
thedata=fig9data[3,:,:].flatten()[ptlist]
r8=np.around(np.nansum(thedata),0)
df = pd.concat([df, pd.DataFrame([['Illinois(IL)',ep,r5,r6,r7,r8]], columns=thecolumns)], ignore_index=True)

In [19]:
#Michigan(MI)
ptlist=list(pnt_MI['Unnamed: 0'])
thedata=average_all.flatten()[ptlist]
ep=np.around(np.nansum(thedata),0)

thedata=fig9data[0,:,:].flatten()[ptlist]
r5=np.around(np.nansum(thedata),0)
thedata=fig9data[1,:,:].flatten()[ptlist]
r6=np.around(np.nansum(thedata),0)
thedata=fig9data[2,:,:].flatten()[ptlist]
r7=np.around(np.nansum(thedata),0)
thedata=fig9data[3,:,:].flatten()[ptlist]
r8=np.around(np.nansum(thedata),0)
df = pd.concat([df, pd.DataFrame([['Michigan(MI)',ep,r5,r6,r7,r8]], columns=thecolumns)], ignore_index=True)

In [20]:
#Indiana(IN)
ptlist=list(pnt_IN['Unnamed: 0'])
thedata=average_all.flatten()[ptlist]
ep=np.around(np.nansum(thedata),0)

thedata=fig9data[0,:,:].flatten()[ptlist]
r5=np.around(np.nansum(thedata),0)
thedata=fig9data[1,:,:].flatten()[ptlist]
r6=np.around(np.nansum(thedata),0)
thedata=fig9data[2,:,:].flatten()[ptlist]
r7=np.around(np.nansum(thedata),0)
thedata=fig9data[3,:,:].flatten()[ptlist]
r8=np.around(np.nansum(thedata),0)
df = pd.concat([df, pd.DataFrame([['Indiana(IN)',ep,r5,r6,r7,r8]], columns=thecolumns)], ignore_index=True)

In [21]:
#Ohio (OH)
ptlist=list(pnt_OH['Unnamed: 0'])
thedata=average_all.flatten()[ptlist]
ep=np.around(np.nansum(thedata),0)


thedata=fig9data[0,:,:].flatten()[ptlist]
r5=np.around(np.nansum(thedata),0)
thedata=fig9data[1,:,:].flatten()[ptlist]
r6=np.around(np.nansum(thedata),0)
thedata=fig9data[2,:,:].flatten()[ptlist]
r7=np.around(np.nansum(thedata),0)
thedata=fig9data[3,:,:].flatten()[ptlist]
r8=np.around(np.nansum(thedata),0)
df = pd.concat([df, pd.DataFrame([['Ohio (OH)',ep,r5,r6,r7,r8]], columns=thecolumns)], ignore_index=True)

In [22]:
#New York (NY)
ptlist=list(pnt_NY['Unnamed: 0'])
thedata=average_all.flatten()[ptlist]
ep=np.around(np.nansum(thedata),0)


thedata=fig9data[0,:,:].flatten()[ptlist]
r5=np.around(np.nansum(thedata),0)
thedata=fig9data[1,:,:].flatten()[ptlist]
r6=np.around(np.nansum(thedata),0)
thedata=fig9data[2,:,:].flatten()[ptlist]
r7=np.around(np.nansum(thedata),0)
thedata=fig9data[3,:,:].flatten()[ptlist]
r8=np.around(np.nansum(thedata),0)
df = pd.concat([df, pd.DataFrame([['New York (NY)',ep,r5,r6,r7,r8]], columns=thecolumns)], ignore_index=True)

In [23]:
#Pennsylvania(PA)
ptlist=list(pnt_PA['Unnamed: 0'])
thedata=average_all.flatten()[ptlist]
ep=np.around(np.nansum(thedata),0)


thedata=fig9data[0,:,:].flatten()[ptlist]
r5=np.around(np.nansum(thedata),0)
thedata=fig9data[1,:,:].flatten()[ptlist]
r6=np.around(np.nansum(thedata),0)
thedata=fig9data[2,:,:].flatten()[ptlist]
r7=np.around(np.nansum(thedata),0)
thedata=fig9data[3,:,:].flatten()[ptlist]
r8=np.around(np.nansum(thedata),0)
df = pd.concat([df, pd.DataFrame([['Pennsylvania(PA)',ep,r5,r6,r7,r8]], columns=thecolumns)], ignore_index=True)

In [24]:
#Maryland(MD)
ptlist=list(pnt_MD['Unnamed: 0'])
thedata=average_all.flatten()[ptlist]
ep=np.around(np.nansum(thedata),0)


thedata=fig9data[0,:,:].flatten()[ptlist]
r5=np.around(np.nansum(thedata),0)
thedata=fig9data[1,:,:].flatten()[ptlist]
r6=np.around(np.nansum(thedata),0)
thedata=fig9data[2,:,:].flatten()[ptlist]
r7=np.around(np.nansum(thedata),0)
thedata=fig9data[3,:,:].flatten()[ptlist]
r8=np.around(np.nansum(thedata),0)
df = pd.concat([df, pd.DataFrame([['Maryland(MD)',ep,r5,r6,r7,r8]], columns=thecolumns)], ignore_index=True)

In [25]:
df

      Province/State    Exposure         R5         R6         R7          R8
0       Ontario (ON)   4528472.0  -189846.0  -174785.0  -276399.0   -587613.0
1        Quebec (QC)   3157263.0   -28608.0   -26574.0   -94151.0   -292574.0
2          Iowa (IA)  52161618.0 -3774418.0 -4644820.0 -8644239.0 -16843367.0
3      Minnesota(MN)  29563904.0 -1836564.0 -2451701.0 -4369567.0  -9575410.0
4      Wisconsin(WI)  11515741.0  -707252.0  -828965.0 -1472348.0  -3357400.0
5       Illinois(IL)  47669473.0 -3255412.0 -4130498.0 -7592111.0 -14270936.0
6       Michigan(MI)   7118776.0  -573172.0  -562821.0  -878691.0  -1812310.0
7        Indiana(IN)  20731290.0 -1073868.0 -1340251.0 -2758748.0  -5545108.0
8          Ohio (OH)  12502459.0  -569175.0  -712745.0 -1503156.0  -3106567.0
9      New York (NY)   1574141.0   -82473.0   -72949.0  -141297.0   -303160.0
10  Pennsylvania(PA)   3531647.0  -152477.0  -205329.0  -427728.0   -881946.0
11      Maryland(MD)    963486.0   -39291.0   -66138.0  -140405.0   -271719.0

In [26]:
#[r1,r2,r3,r4,r5,r6,r7,r8]

In [27]:
sum_row = df.sum(axis=0)
sum_row

Province/State    Ontario (ON)Quebec (QC)Iowa (IA)Minnesota(MN)W...
Exposure                                                195018270.0
R5                                                      -12282556.0
R6                                                      -15217576.0
R7                                                      -28298840.0
R8                                                      -56848110.0
dtype: object

In [28]:
df = df.append(sum_row, ignore_index=True)

In [29]:
df

,Province/State,Exposure,R5,R6,R7,R8
0,Ontario (ON),4528472.0,-189846.0,-174785.0,-276399.0,-587613.0
1,Quebec (QC),3157263.0,-28608.0,-26574.0,-94151.0,-292574.0
2,Iowa (IA),52161618.0,-3774418.0,-4644820.0,-8644239.0,-16843367.0
3,Minnesota(MN),29563904.0,-1836564.0,-2451701.0,-4369567.0,-9575410.0
4,Wisconsin(WI),11515741.0,-707252.0,-828965.0,-1472348.0,-3357400.0
5,Illinois(IL),47669473.0,-3255412.0,-4130498.0,-7592111.0,-14270936.0
6,Michigan(MI),7118776.0,-573172.0,-562821.0,-878691.0,-1812310.0
7,Indiana(IN),20731290.0,-1073868.0,-1340251.0,-2758748.0,-5545108.0
8,Ohio (OH),12502459.0,-569175.0,-712745.0,-1503156.0,-3106567.0
9,New York (NY),1574141.0,-82473.0,-72949.0,-141297.0,-303160.0
10,Pennsylvania(PA),3531647.0,-152477.0,-205329.0,-427728.0,-881946.0
11,Maryland(MD),963486.0,-39291.0,-66138.0,-140405.0,-271719.0
12,Ontario (ON)Quebec (QC)Iowa (IA)Minnesota(MN)W...,195018270.0,-12282556.0,-15217576.0,-28298840.0,-56848110.0

In [30]:
df.to_csv('table1_new.csv')

In [31]:
df1=pd.DataFrame()
df1['Province/State']=df['Province/State'].values

In [32]:
df1['R5']=np.round(df['R5']/df['Exposure']*100,1)
df1['R6']=np.round(df['R6']/df['Exposure']*100,1)
df1['R7']=np.round(df['R7']/df['Exposure']*100,1)
df1['R8']=np.round(df['R8']/df['Exposure']*100,1)

In [33]:
df1

                                       Province/State   R5   R6    R7    R8
0                                        Ontario (ON) -4.2 -3.9  -6.1 -13.0
1                                         Quebec (QC) -0.9 -0.8  -3.0  -9.3
2                                           Iowa (IA) -7.2 -8.9 -16.6 -32.3
3                                       Minnesota(MN) -6.2 -8.3 -14.8 -32.4
4                                       Wisconsin(WI) -6.1 -7.2 -12.8 -29.2
5                                        Illinois(IL) -6.8 -8.7 -15.9 -29.9
6                                        Michigan(MI) -8.1 -7.9 -12.3 -25.5
7                                         Indiana(IN) -5.2 -6.5 -13.3 -26.7
8                                           Ohio (OH) -4.6 -5.7 -12.0 -24.8
9                                       New York (NY) -5.2 -4.6  -9.0 -19.3
10                                   Pennsylvania(PA) -4.3 -5.8 -12.1 -25.0
11                                       Maryland(MD) -4.1 -6.9 -14.6 -28.2
12  Ontario (ON)Quebec (QC)Iowa (IA)Minnesota(MN)W... -6.3 -7.8 -14.5 -29.2

In [34]:
#!pip install seaborn

In [35]:
df1.to_csv('table1_new_percentage.csv')

In [36]:
table1=pd.read_csv('table1_new_percentage.csv')

In [37]:
table1

,Unnamed: 0,Province/State,R5,R6,R7,R8
0,0,Ontario (ON),-4.2,-3.9,-6.1,-13.0
1,1,Quebec (QC),-0.9,-0.8,-3.0,-9.3
2,2,Iowa (IA),-7.2,-8.9,-16.6,-32.3
3,3,Minnesota(MN),-6.2,-8.3,-14.8,-32.4
4,4,Wisconsin(WI),-6.1,-7.2,-12.8,-29.2
5,5,Illinois(IL),-6.8,-8.7,-15.9,-29.9
6,6,Michigan(MI),-8.1,-7.9,-12.3,-25.5
7,7,Indiana(IN),-5.2,-6.5,-13.3,-26.7
8,8,Ohio (OH),-4.6,-5.7,-12.0,-24.8
9,9,New York (NY),-5.2,-4.6,-9.0,-19.3
10,10,Pennsylvania(PA),-4.3,-5.8,-12.1,-25.0
11,11,Maryland(MD),-4.1,-6.9,-14.6,-28.2
12,12,Ontario (ON)Quebec (QC)Iowa (IA)Minnesota(MN)W...,-6.3,-7.8,-14.5,-29.2